@footer: #C2C1C1;

.margenes(@top: 0px,@bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
  }

.jumbotron{
    font-size: 25px;
    font-weight: bold;
    .margenes(50px, 0px);
}

footer {
    background-color:@footer;
    .margenes(15px,0px);
    padding-top:10px;
    line-height: 25px;
}

footer :link{
    color: #1B30A6;
}

.card-soft{
    /*Quito del html propiedades col, ya no tienen sentido*/
    flex: 1 300px; /*Primer atributo: flex-wrap se mantenga intacta. Segundo: flex basis pages: ancho definido*/
    padding: 0px 0px 10px 0px;
    .margenes(2px, 10px)
}

.btn-vermas{
    display: flex;
    width: 95%;
    justify-content: center;
    margin: auto;
}

table{
    text-align: center;
}

.footer-address-icon{
    padding-right: 5px;
}

.table-iconic{
    margin-right: 5px;
}

.GroupCollapse{
    .margenes(0px, 20px);
}