.jumbotron {
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer {
  background-color: #C2C1C1;
  margin-top: 15px;
  margin-bottom: 0px;
  padding-top: 10px;
  line-height: 25px;
}
footer :link {
  color: #1B30A6;
}
.card-soft {
  /*Quito del html propiedades col, ya no tienen sentido*/
  flex: 1 300px;
  /*Primer atributo: flex-wrap se mantenga intacta. Segundo: flex basis pages: ancho definido*/
  padding: 0px 0px 10px 0px;
  margin-top: 2px;
  margin-bottom: 10px;
}
.btn-vermas {
  display: flex;
  width: 95%;
  justify-content: center;
  margin: auto;
}
table {
  text-align: center;
}
.footer-address-icon {
  padding-right: 5px;
}
.table-iconic {
  margin-right: 5px;
}
.GroupCollapse {
  margin-top: 0px;
  margin-bottom: 20px;
}
